<div class="navbar navbar-inverse navbar-fixed-top">
 <div class="navbar-inner">
   <div class="container-fluid">
     <a class="brand" href="/">PostU</a>
     <div class="nav-collapse collapse">
       
       <ul class="nav">
       {% for navitem in navlist %}
        <li {% ifequal page navitem %} class="active" {% endifequal %}><a href="/{{ navitem }}">{{ navitem|capfirst}} </a></li>
       {% endfor %}
       </ul>
       
       <p class="navbar-text pull-right">
         Logged in as <a href="#" class="navbar-link">Username</a>
       </p>
     </div><!--/.nav-collapse -->
   </div>
 </div>
</div>