{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="hero-unit">
    <h1>{{ page|capfirst }}</h1>
       <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
       <a class="btn btn-large btn-primary" href="../components.html#navbar">View navbar docs &raquo;</a>
     </p>   
    </div>
</div>

 {% endblock %}