<html>
<head>
<title>Post U</title>

<link href="static/css/main.css" rel="stylesheet" type="text/css" />

</head>
<body id="body_feature">
<div id="header">
<h1>PostCards are cool!<span>send one</span></h1>
<h2>Yep, I will post you card anywhere in the world</h2>
</div>
<div id="shared">
<img src="static/images/shared.png">
</div>
<div id="main">
<div id="postcard">
<div id="postcard_img">
<img src="static/images/img.jpg" width="600" height="360">
</div>
</div>
<div id="explain">
<h1>1. choose me</h1>
<h1>2. choose me</h1>
<h1>3. choose me</h1>
<h1>4. choose me</h1>
</div>
</div>
<div id="content">
<h1>Recent post...</h1>
</div>
<div id="img_list">
<div id="img_item">
<img src="static/images/img.jpg" width="200" height="120">
</div>
<div id="img_item">
<img src="static/images/img.jpg" width="200" height="120">
</div>
<div id="img_item">
<img src="static/images/img.jpg" width="200" height="120">
</div>
<div id="img_item">
<img src="static/images/img.jpg" width="200" height="120">
</div>
<div id="img_item">
<img src="static/images/img.jpg" width="200" height="120">
</div>
</div>
<div id="footer">

</div>
</body>
</html>
