<html>
<head>
<title>Post U</title>

<link href="static/css/default.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div id="header">
    <h1 id="logo"><a href="../">SWFUpload</a></h1>
    <div id="version">v2.5.0</div>
</div>
<div id="content">
    <h2>Application Demo</h2>
    <p>This demo shows how SWFUpload can behave like an AJAX application.  Images are uploaded by SWFUpload and converted to thumbnails by the server.  Then some JavaScript is used to download and display the thumbnails without reloading the page.</p>
    
</div>
</body>
</html>
